<a [routerLink]="['/items']"><button>back to dashboard</button> </a>

<h2>New Question Page</h2>


<form #newForm="ngForm" (submit)="addFormSend()">
  <label for="question">Question</label>
  <input type='textarea' required minlength="10" maxlength="800"
  [(ngModel)]='newItem.question'
  #quest="ngModel" name="question">

  <label for="desc">description</label>
  <input type="textarea" required  maxlength="250"
  name='desc' [(ngModel)]='newItem.description' #desc='ngModel'>


  <button type="submit" [disabled]='(!quest.valid || !desc.valid)'>
    Submit
  </button>
</form>
